*{
    transition: .25s;
}


.a {
    fill: none;
}

.b {
    clip-path: url(#a);
}

.c {
    fill: url(#b);
}

.d {
    fill: #ffb5f0;
}

.e {
    fill: #ffe6fa;
}

.f {
    fill: url(#c);
}

.g {
    fill: #fff;
}

.h,
.i,
.o {
    fill: #f2a0e3;
}

.h,
.i {
    stroke: #000;
    stroke-width: 2px;
}

.h {
    stroke-linecap: round;
}

.i {
    stroke-miterlimit: 10;
}

.j {
    clip-path: url(#d);
}

.k {
    fill: #29abe2;
}

.l {
    clip-path: url(#e);
}

.m {
    opacity: 0.65;
    mix-blend-mode: multiply;
    isolation: isolate;
}

.n {
    fill: #db95d2;
}

.p {
    filter: url(#p);
}

.q {
    filter: url(#n);
}

.r {
    filter: url(#l);
}

.s {
    filter: url(#j);
}

.t {
    filter: url(#h);
}

.u {
    filter: url(#f);
}