
.b {
    fill: #744e1e;
}

.dark-pink {
    fill: #ffcdf5;
}

.light-pink {
    fill: #ffe6fa;
}

.e {
    fill: #ffb5f0;
}

.f {
    fill: #fff;
}

.g {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-width: 2px;
}

.h {
    fill: #f1bce6;
}

.i {
    fill: #7ec26d;
}

.j {
    filter: url(#k);
}

.k {
    filter: url(#i);
}

.l {
    filter: url(#g);
}

.m {
    filter: url(#e);
}

.n {
    filter: url(#c);
}

.o {
    filter: url(#a);
}