.mediaViewInfo {
	--web-view-name: canvas;
	--web-view-id: canvas;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: canvas;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#canvas {
	position: absolute;
	width: 320px;
	height: 568px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: canvas;
	--web-view-id: canvas;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#Rabbit {
	position: absolute;
	width: 320px;
	height: 694.601px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#holeMaterial {
	fill: rgba(116,78,30,1);
}
.holeMaterial {
	overflow: visible;
	position: absolute;
	width: 220.639px;
	height: 150.652px;
	left: 51.187px;
	top: 215.231px;
	transform: matrix(1,0,0,1,0,0);
}
#head {
	position: absolute;
	width: 161.05px;
	height: 301.625px;
	left: 81.126px;
	top: 0px;
	overflow: visible;
}
#ears {
	position: absolute;
	width: 161.05px;
	height: 141.075px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#r_ear {
	position: absolute;
	width: 70.902px;
	height: 140.893px;
	left: 90.148px;
	top: 0.146px;
	overflow: visible;
}
#_outsideEar {
	fill: rgba(255,205,245,1);
}
._outsideEar {
	overflow: visible;
	position: absolute;
	width: 54.831px;
	height: 135.219px;
	transform: translate(-3.971px, 1.487px) matrix(1,0,0,1,12.0065,1.3507) rotate(187deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#r_insideEar {
	fill: rgba(255,230,250,1);
}
.r_insideEar {
	overflow: visible;
	position: absolute;
	width: 34.739px;
	height: 92.233px;
	transform: translate(-3.971px, 1.487px) matrix(1,0,0,1,19.9365,23.9226) rotate(187deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#l_ear {
	position: absolute;
	width: 70.527px;
	height: 141.075px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#l_outsideEar {
	fill: rgba(255,205,245,1);
}
.l_outsideEar {
	overflow: visible;
	position: absolute;
	width: 54.426px;
	height: 135.452px;
	transform: translate(-3.524px, 1.481px) matrix(1,0,0,1,11.5744,1.3311) rotate(-7deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#l_inside_ear {
	fill: rgba(255,230,250,1);
}
.l_inside_ear {
	overflow: visible;
	position: absolute;
	width: 34.739px;
	height: 92.233px;
	transform: translate(-3.524px, 1.481px) matrix(1,0,0,1,23.3973,24.0747) rotate(-7deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#head_shape {
	fill: rgba(255,181,240,1);
}
.head_shape {
	overflow: visible;
	position: absolute;
	width: 153.575px;
	height: 196.703px;
	left: 3.605px;
	top: 104.922px;
	transform: matrix(1,0,0,1,0,0);
}
#eyes {
	position: absolute;
	width: 120.019px;
	height: 75.461px;
	left: 20.261px;
	top: 126.484px;
	overflow: visible;
}
#r_eye {
	fill: rgba(255,255,255,1);
}
.r_eye {
	position: absolute;
	overflow: visible;
	width: 53.032px;
	height: 75.461px;
	left: 0px;
	top: 0px;
}
#l_eye {
	fill: rgba(255,255,255,1);
}
.l_eye {
	position: absolute;
	overflow: visible;
	width: 55.823px;
	height: 75.461px;
	left: 64.196px;
	top: 0px;
}
#pupils {
	position: absolute;
	width: 89.316px;
	height: 30.744px;
	left: 34.216px;
	top: 148.843px;
	overflow: visible;
}
#r_pupil {
	fill: rgba(0,0,0,1);
}
.r_pupil {
	position: absolute;
	overflow: visible;
	width: 27.911px;
	height: 30.744px;
	left: 0px;
	top: 0px;
}
#l_pupil {
	fill: rgba(0,0,0,1);
}
.l_pupil {
	position: absolute;
	overflow: visible;
	width: 27.911px;
	height: 30.744px;
	left: 61.405px;
	top: 0px;
}
#mouth {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.mouth {
	overflow: visible;
	position: absolute;
	width: 121.328px;
	height: 18.846px;
	left: 20.687px;
	top: 212.845px;
	transform: matrix(1,0,0,1,0,0);
}
#hands {
	position: absolute;
	width: 177.636px;
	height: 51.602px;
	left: 71.182px;
	top: 234.69px;
	overflow: visible;
}
#r_hand {
	position: absolute;
	width: 76.544px;
	height: 51.601px;
	left: 101.092px;
	top: 0.002px;
	overflow: visible;
}
#r_finger3 {
	fill: rgba(241,188,230,1);
}
.r_finger3 {
	filter: drop-shadow(0px -3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 25.829px;
	height: 32.507px;
	transform: translate(0.021px, -0.018px) matrix(1,0,0,1,4.1668,16.0459) rotate(-17deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#r_finger2 {
	fill: rgba(241,188,230,1);
}
.r_finger2 {
	filter: drop-shadow(0px -3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 25.091px;
	height: 32.507px;
	transform: translate(0.021px, -0.018px) matrix(1,0,0,1,26.0583,9.457) rotate(-17deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#r_finger1 {
	fill: rgba(241,188,230,1);
}
.r_finger1 {
	filter: drop-shadow(0px -3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 25.091px;
	height: 32.507px;
	transform: translate(0.021px, -0.018px) matrix(1,0,0,1,47.2279,2.9761) rotate(-17deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#l_hand {
	position: absolute;
	width: 76.544px;
	height: 51.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#l_finger3 {
	fill: rgba(241,188,230,1);
}
.l_finger3 {
	filter: drop-shadow(0px -3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 25.829px;
	height: 32.507px;
	transform: translate(0.021px, -0.019px) matrix(1,0,0,1,4.1668,3.0844) rotate(17deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#l_finger2 {
	fill: rgba(241,188,230,1);
}
.l_finger2 {
	filter: drop-shadow(0px -3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 25.091px;
	height: 32.507px;
	transform: translate(0.021px, -0.019px) matrix(1,0,0,1,26.0583,9.6732) rotate(17deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#l_finger1 {
	fill: rgba(241,188,230,1);
}
.l_finger1 {
	filter: drop-shadow(0px -3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 25.091px;
	height: 32.507px;
	transform: translate(0.021px, -0.019px) matrix(1,0,0,1,47.2279,16.1541) rotate(17deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#grassFront {
	fill: rgba(126,194,109,1);
}
.grassFront {
	overflow: visible;
	position: absolute;
	width: 320px;
	height: 455.743px;
	left: 0px;
	top: 238.859px;
	transform: matrix(1,0,0,1,0,0);
}